<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Ricardo Yone pero mis amigos me llaman rick. Empecé en la
      programación diseñando, tenía 14 años. Actualmente estoy <strong
        >Aplicando lo aprendido</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >Mantener y crear nuevos recursos para compañias</strong
      >. Fue una gran actualizacion para la empresa.
    </p>
  </div>
  <img src="/foto perfil.jpg" class="rounded-full size-64 order-1 md:order-2" />
</section>
